@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
body > div { /* the react root */
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.916) ;
}


.scrollbar-hide::-webkit-scrollbar {
  width: 8px; /* o height si es scroll horizontal */
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: transparent; /* Esto quita el fondo blanco */
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Color del thumb (la barra que se mueve) */
  border-radius: 8px;
}

.MuiMenuItem-root {
  color: black !important;
}

.MuiPaper-root {
  background-color: white !important;
  color: black !important;
}