
html,
body,
body > div { /* the react root */
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.916) ;
}

h2 {
  margin: 0;
  font-size: 28px;
  color: rgb(19, 19, 19);
  text-shadow: 1px 1px rgba(248, 248, 248, 0.692);
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1em 0;
  padding: 5%;
  font-size: 20px;
  list-style: none;
}

li:hover{
  background-color:rgb(231, 231, 231) ;
  scale: 1.1;
  border-radius: 5%;
}

.linkSideBar{
  text-decoration: none;
  color: black;
}

b { /* used for event dates/times */
  margin-right: 3px;
}

.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  background-color: rgba(218, 218, 218, 0.925);
}

.demo-app-sidebar {
  padding-top: 2%;
  width: 300px;
  line-height: 1.2;
  background: rgba(127, 186, 209, 0.692);
  border-right: 1px solid #515152;
}

.demo-app-sidebar-section {
  padding: 1.5em;
}

.demo-app-main {
  flex-grow: 0.8;
  width: 80%;
  margin-top: 2%;
}

.fc { /* the calendar root */
  max-width: 1300px;
  margin: 0 auto;
  padding: 2% 5%;
  background-color: rgba(241, 241, 241, 0.925);

  border-radius: 5%;
}


.fc-view-harness{
  background-color: rgba(241, 241, 241, 0.925);
  border-radius: 2%;
  
};


.fc-day{
  background-color: black;
  
  border: solid rgba(0, 0, 0, 0.644);
};


